*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
background: rgba(255, 122, 122,0.8);
background-image: url("bg-intro-mobile.png");
    height: 100vh;
    width: 100vw;
}
main{
/* height: 100%; */
/* width: 100vw; */
}
.intro{
padding: 10px;
margin:20px auto 40px;
}
.intro h1, p{
color: white;
text-align: center;
}

.intro h1{
    padding: 10px 10px;
}
.intro p{
    padding: 5px;
    line-height: 1.3rem;
}
.container{
    padding: 10px;
    margin: 10px;
}
.form-head{
    color: white;
    line-height: 1.3rem;
    text-align: center;
    border-radius: 12px;
    width: 100%;
    padding: 20px 40px;
    background-color: hsl(248, 32%, 49%) ;
    margin: 10px auto 30px;
}
form{
    background-color: white;
    padding: 40px 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.gap{
    gap: 30px;

}
form input{
    padding: 12px 10px;
    width: 100%;
    display: block;
    font-size: 1.1rem;
    color: hsl(249, 10%, 26%);
    border: 1px hsl(249, 10%, 26%) solid;
    border-radius: 12px;
    margin: 10px 0;
}
form input:invalid{
    border: 2px red solid;
}
form button{
    border-radius: 10px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    /* margin: 10px 0px 20px; */
}
form button a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 15px 20px;
    display: block;
}
.agreement{
    padding: 20px;
    color: hsl(246, 25%, 77%);
    padding: 0 30px;
    display: block;
    text-align: center;
    line-height: 1.3rem;
}
.agreement a{
    text-decoration: none;
    color: red;
    font-weight: 500;
}

.state{
    color: red;
    display: block;
    width: 100%;
    text-align: right;
    /* margin-bottom: 20px; */
}
.show{
    display: block;
    opacity: 1;
}
.hide{
    display: none;
    opacity: 0;
}
.error{
    height: auto;
    width: 100%;
    position: relative;
    
}
.error img{
    width: 25px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    /* display: none; */
    /* margin-left: 100%;
    transform: translate(-150%, 180%); */
}
/* .error-img{
    height: 20px;
    width: 20px;
    display: block;
    text-align: right;
    position: relative;
    left: 100%;
    top: 45px;
    transform: translatex(-40px);
} */
@media(min-width:800px){
    main{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 10px;
    }
    .intro{
        width: 35%;
        margin-left: 0%;
        margin-right: 20px;
        padding: 5px;
    }
    .intro h1, p{
        text-align: left;
    }
    .intro h1{
        font-size: 2.5rem;
        font-weight: bolder;
        padding: 10px 0px;
    }

}
